<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add User</title>
  </head>
  <body>
    <h1>Add User</h1>
    <form method="POST" action="/gogaga/add">
      <label for="name">Name</label>
      <input name="name" id="name" type="text" />
      <label for="age">Age</label>
      <input name="age" id="age" type="text" />
      <label for="about">About</label>
      <textarea name="about" id="about"></textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
